@model PetGroom.Models.Customer

@{
    ViewData["Title"] = "CustomerProfile";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>CustomerProfile</h1>


<img src="~/Images/Salon Bath Prices Web 2020.webp" style="width:50%" />

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
            <li>123456789</li>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
            <li>Bruno</li>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
            <li>PitBull</li>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
            <li>50lbs</li>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
            <li>5 years old</li>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>


    </dl>
</div>
<div id="dvMap" style="height:250px;"></div>
<input type="text" id="Lat">
<input type="text" id="Long">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnxLPpaJuGZeaX-FBpaeyXMIRCKVq21xQ&callback=initMap" async defer></script>

<script type="text/javascript">

    function initMap() {
        //map..


        var map = new google.maps.Map(document.getElementById('dvMap'), {
            center: {
                lat: 10.9968683,
                lng: 76.00882
            },
            zoom: 15
        });
        //marker..
        var marker = new google.maps.Marker({
            position: {
                lat: 10.9968683,
                lng: 76.00882
            },
            map: map,
            draggable: true
        });
        //dragend event of marker
        google.maps.event.addListener(marker, 'dragend', function () {
            var Lats = marker.getPosition().lat();
            var Longs = marker.getPosition().lng();
            $('#Lat').val(Lats);
            $('#Long').val(Longs);
        });
    }
</script>







    <div>

    </div>
    <div>

        <a asp-action="Index">Back to List</a>
    </div>
